
/* Your animations and custom CSS here */


@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes turn-up {
  0% {
    transform: translateY(1px);
  }
 
  50% {
    transform: translateY(-7px);
  }
  100%{
    transform: translateY(1px);
  }
}

.animate-turn-up {
  animation: turn-up 2s ease-in-out infinite;
}

  

  @keyframes save-movie {
    0%{
      transform: translateX(-12px);
      
    }
 100%{
  transform: translateX(0);
 }
  }

  .animate-save-movie {
  animation: save-movie 1s ease-in-out ;
}

 @keyframes img-movie {
  0% {
    transform: translateY(0);
    
    opacity: 1;
  }
  80% {
    transform: translateY(-20px);
    border-radius: 70%;
    opacity: 0.1;
  }
  100% {
    
    transform: translateY(-20px);
    border-radius: 100%;
    opacity: 0;
  }
}



  .animate-img-movie {
  animation: img-movie 0.9s ease-in-out  forwards ;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}
@keyframes placeWords {
  0% {
    opacity: 0;
    transform: translateY(100vh); 
 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
     
  }
}

.placeWords {
  animation: placeWords 0.5s ease-out forwards;
} 

@utility fancy-text {
  -webkit-text-stroke:5px rgba(206, 206,251, 0.5);
  font-size:190px;
  font-family:"Babas neue" , sans-serif
}
@utility hide-scrollbar {
 -ms-overflow-style:none;
 scrollbar-width:none;

 &::-webkit-scrollbar{
  display:none
 }
}

.history {
  @apply mt-20 ;

  & ul {
    @apply flex flex-row overflow-y-auto gap-5 -mt-10 w-full hide-scrollbar;
  }

  & ul li {
    @apply min-w-[230px] flex flex-row items-center;
  }

  & ul li p {
    @apply fancy-text mt-[22px] text-nowrap ;
  }

  & ul li img {
    @apply w-[127px] h-[163px] rounded-lg object-cover -ml-3.5;
  }
}

